# Exemplo de arquivo de variáveis de ambiente
# Copie este arquivo para .env e ajuste conforme suas necessidades
# NÃO ENVIE O ARQUIVO .env PARA O REPOSITÓRIO!

# Banco de dados da Produção (Neon)
DATABASE_URL=postgresql://usuario:senha@servidor_neon:5432/nome_do_banco
